{% set pastry1 = "Brioche à la cannelle ou Kanelbulle" %}
<li class="pastry">
  <figure>
    <img src='/assets/images/brioche-cannelle.jpg' alt='' loading="lazy">
  </figure>
  <section class='textes'>
    <h2 class='titre'>
      {% if true %}
      {{ pastry1 }}
      {% endif %}
    </h2>
    <p class='description'>
      1,75 € / unité
    </p>
  </section>
</li>
