<li class="pastry">
  <figure>
    <img src='/assets/images/macarons.jpg' alt='' loading="lazy">
  </figure>
  <section class='textes'>
    <h2 class='titre'>Macarons (plusieurs goûts)</h2>
    <p class='description'>
      20 € / la douzaine
    </p>
  </section>
</li>